<form method="GET" class="mt-4 ml-20">
<div class="flex">

    <div class="w-[40%]">
        <input
          name="title"
          type="text"
          class="shadow block rounded w-full h-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white border-black-500 outline-none border-2"
          id="title"
          placeholder="The tilte is case sensitive"
          value="{{params.title}}"
        />
    </div>
    <button type="submit" method="GET" class="bg-amber-500 text-gray-900 hover:bg-amber-400 font-bold ml-4 h-10 py-2 px-4 border-b-4 border-amber-700 hover:border-amber-500 rounded">
        Fetch Filter
    </button>
    <div class="flex ml-16">
        <a href={{params.ppage}} class="bg-emerald-500 w-32 flex text-gray-900 hover:bg-emerald-400 font-bold ml-4 h-10 py-2 px-4 border-b-4 border-emerald-700 hover:border-emerald-500 rounded">
            <svg class="mr-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
            Previous
        </a>
        <a href={{params.npage}} class="bg-emerald-500 w-24 flex text-gray-900 hover:bg-emerald-400 font-bold ml-4 h-10 py-2 px-4 border-b-4 border-emerald-700 hover:border-emerald-500 rounded">
            Next
            <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
     </div>
    

</div>    

<div class="flex mt-2 p-2">
    <div class="flex items-center mr-4">
        <input  {% if params.sort == 0 %} checked {% endif %} 
            id="descending" type="radio" value="0" name="sort" class="outline-none w-4 h-4 text-blue-600 bg-gray-100 border-gray-300">
        <label for="descending" class="ml-2 text-sm font-medium">Desc Time</label>
    </div>
    <div class="flex items-center mr-4">
        <input {% if params.sort == 1 %} checked {% endif %} 
            id="ascending" type="radio" value="1" name="sort" class="outline-none w-4 h-4 text-blue-600 bg-gray-100 border-gray-300">
        <label for="ascending" class="ml-2 text-sm font-medium">Asc Time</label>
    </div>
</div>
 
</form>
