<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="js/keys.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <title>YouPI - Keys</title>
</head>
<body class="bg-gray-100">
    {% include 'navbar.html' %}
    {% include 'addKey.html' %}
    <div class="flex mt-8">
        <div class="w-[40%] h-[100%] ml-12 mr-[5%]">
            <div class="text-3xl">Active Keys</div>
            {% for i in tokens %}
            <div>{{ i.status }}</div>

            {% if i.status == 'current' %}
                <div class="bg-amber-100 border-amber-200 border-2 rounded-md p-2 mt-2 mb-2" >{{ i.key }}</div>
            {% endif %}
            {% if i.status == 'unused' %}
                <div class="bg-green-100 border-green-200 border-2 rounded-md p-2 mt-2 mb-2" >{{ i.key }}</div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="w-[40%] h-[100%] ml-[5%] mr-[5%]">
            <div class="text-3xl">Expired Keys</div>
            {% for i in tokens %}
            {% if i.status == 'expired' %}
            <div class="bg-red-100 border-red-200 border-2 rounded-md p-2 mt-2 mb-2" >{{ i.key }}</div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>